<div>
    {{#with person}}
    <main>
        <section>
            <div>
                <h1>{{name}}</h1>
                <p>Age: {{age}} </p>
                <p>Gender: {{gender}} </p>
                <div>
                    <address>
                        {{#with address}}
                        <p>Address: {{street}} {{city}} {{state}} {{zip}} {{country}}</p>
                        {{/with}}
                    </address>
                    <hr>
                    <div>
                        <h2>Education</h2>
                        {{#each education}}
                        <ul>
                            <li>Degree: {{degree}}</li>
                            <li>Major: {{major}}</li>
                            <li>University: {{university}}</li>
                            <li>Graduation Year: {{graduationYear}}</li>
                        </ul>
                        {{/each}}
                    </div>

                    <br>
                    <hr>

                    <div>
                        <h2>Work experience</h2>
                        {{#each workExperience}}

                        <p><b>Company:</b>{{company}}</p>
                        <p>{{title}}</p>

                        <div>
                            <p>From {{startDate}} to {{endDate}}</p>
                        </div>

                        <b><em>Responsibilities:</em></b>
                        {{#each responsibilities}}
                        <ul>
                            <li>{{this}}</li>
                        </ul>
                        {{/each}}

                        <div>
                            <p>{{industry}}, {{year_founded}}</p>
                        </div>

                        <div>
                            <strong>Employees:</strong>
                            {{#each employees}}
                            <ul>
                                <li>{{name}}</li>

                                <p>{{position}}, {{department}}</p>
                                <div>
                                    <em><b>Projects: </b></em>
                                    <br>
                                    <br>

                                    {{#each projects}}
                                    <ul>
                                        <li>{{name}}</li>
                                        <li>{{description}}</li>
                                        <li>{{status}}</li>
                                    </ul>

                                </div>

                                <br>

                                <div>

                                    <em><b>Teams: </b></em>

                                    <br>

                                    <div>
                                        {{#each teams}}

                                        <ul>
                                            <p><b>{{team_name}}</b></p>

                                            {{#with team_leader}}
                                            <li>{{name}}, {{title}}</li>
                                            <p>{{> link text=email blank=true noLine=true}}</p>

                                            {{/with}}


                                            <div>
                                                {{#each team_members}}

                                                <li>{{name}}, {{title}}</li>
                                                <p>{{> link text=email blank=true noLine=true}}</p>
                                                <p>Skills: {{skills}}</p>

                                                <p>Projects:</p>
                                                {{#each projects}}
                                                <ul>
                                                    <li>{{name}}</li>
                                                    <li>{{description}}</li>
                                                    <li>{{technologies}}</li>
                                                </ul>

                                                <div>
                                                    <p>Team members: </p>
                                                    {{#each team_members}}
                                                    <ul>
                                                        <li>{{name}}, {{title}}</li>

                                                    </ul>
                                                    {{/each}}
                                                </div>
                                                {{/each}}
                                                {{/each}}
                                        </ul>
                                    </div>
                                    {{/each}}
                                </div>
                        </div>
                        {{/each}}
                        </ul>
                        {{/each}}
                    </div>





                    {{/each}}

                </div>
            </div>
</div>

</div>
</section>
</main>
{{/with}}
</div>