<main>
	{{#with main}}

	<div class="text-center my-4">
		{{>title data="Work history"}}
	</div>

	<div>
		{{#each works}}
		<div><strong>{{position}}</strong></div>
		{{duration.from}} -
		{{#if duration.to}}
		{{duration.to}}
		{{else}}
		(досі працюємо)
		{{/if}}
	</div>



	<div class="my-4">
		{{#if company.url}}
		{{> link text=company.name href=company.url blank=true noLine=true}}
		{{else}}
		<b>{{company.name}}</b>
		{{/if}}
	</div>


	<h3 class="text-center"><strong>Projects({{projectAmount}})</strong></h3>


	{{#each projects}}

	<div>{{> link text=name href=url blank=true noLine=true}}</div>

	<div>
		<p>{{about}}</p>
	</div>



	<div>
		<em>Project stacks {{stackAmount}}</em>
		{{#each stack}}
		<ul>
			<li>{{name}}</li>
		</ul>
		{{/each}}
	</div>

	<div>
		<em>Awards</em>
		{{#each awards}}
		<ul>
			<li>{{name}}</li>
		</ul>
		{{/each}}
	</div>


	{{/each}}

	{{/each}}

	{{/with}}
</main>