<div class="card my-5">
	<div class="card-body">

		<ul class="list-group my-2">
			<li class="list-group-item">
				{{#with title}}
				<h4>{{userName}}</h4>
				<div>{{caption}}</div>
				<div>{{date}}</div>
				{{/with}}
			</li>

			{{#with reviewBody}}
			<li class="list-group-item">
				<div>{{seller.title}}: {{seller.value}}</div>
				<div class="mb-3 mt-4">{{rating.title}}: {{rating.value}}</div>
				<div>{{text}}</div>
				<h6 class="mt-3">{{advantages.title}}</h6>
				<div>{{text}}</div>

				<h6 class="mt-4">{{disadvantages.title}}</h6>
				<div>{{disadvantages.text}}</div>
				{{#each images}}
				<img src="{{this}}" class="mt-3">
				{{/each}}
			</li>
		</ul>


		<div class="mt-3 ms-5">
			{{#each coments}}
			<div class="card my-3">
				<div class="card-body">

					<h4>{{userName}}</h4>
					<div class="my-3">{{date}}</div>
					<div class="mb-2">{{text}}</div>

				</div>
			</div>
			{{/each}}
		</div>

		{{/with}}
	</div>
</div>