<div class="row">
  <div class="col-6">
    <div class="card text-bg-light">
      <div class="card-body">
        <ul>
          <li>ID:{{id}}</li>
          <li>Name: {{name}}</li>
          <li>Gender: {{gender}}</li>
          <li>Age: {{age}}</li>
      </div>
    </div>
  </div>

  <div class="my-4 col-4">


    {{#if mutual_friends}}
    <p><em>Mutual friends:</em></p>
    <ul>
      {{#each mutual_friends}}
      <li>ID:{{id}}</li>
      <li>Name: {{name}}</li>
      <li>Gender: {{gender}}</li>
      <li>Age: {{age}}</li>
    </ul>
    {{/each}}
    {{/if}}


  </div>
  </ul>
</div>